.activity-button {

    position: relative;

    width: 60px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    background: transparent;

    color: var(--color-text-muted);

    cursor: pointer;

    transition:
        color .2s ease,
        background .2s ease;
}


.activity-button:hover {

    background: var(--color-surface-light);

    color: var(--color-text);

}


.activity-button.active {

    color: var(--color-accent);

}

.activity-button.active::before {

    content:"";

    position:absolute;

    left:0;

    top:0;

    height:100%;

    width:3px;

    background:var(--color-accent);

}

.activity-button svg {
    width: 20px;
    height: 20px;
    transition: transform .2s ease;
}

.activity-button:hover svg {

    transform: scale(1.08);
}